:root {
  --main-color: #ff9800;
  --main-transition: 0.3s;
}
body {
  font-family: "Open Sans", sans-serif;
}
.contener {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start Settins Box */
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  z-index: 1000;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  transition: var(--main-transition);
}
.settings-box.open {
  left: 0;
}
.settings-box .toggel-box {
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: #fff;
  cursor: pointer;
}
.settings-box .toggel-box .fa-gear {
  padding: 10px;
}
.settings-box .option-box {
  padding: 1px;
  background-color: #eee;
  text-align: center;
  margin: 15px;
}
.settings-box .option-box h4 {
  color: #666;
  font-size: 13px;
}
.settings-box .option-box .color-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.settings-box .option-box .color-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.settings-box .option-box .color-list li.active {
  border: 2px solid black;
}
.settings-box .option-box .color-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .color-list li:nth-child(2) {
  background-color: #009688;
}
.settings-box .option-box .color-list li:nth-child(3) {
  background-color: #e91e63;
}
.settings-box .option-box .color-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .color-list li:nth-child(5) {
  background-color: #4caf50;
}
/*start random-backcround */
.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no {
  display: inline-block;
  width: 50px;
  background-color: var(--main-color);
  margin-bottom: 15px;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
}
.settings-box .random-backgrounds span.active {
  opacity: 1;
}
/* end random-backcround */
/* End Settins Box */
/* Start landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  position: relative;
  transition: var(--main-transition);
}
.landing-page .over-lay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.landing-page .header {
  position: relative;
  color: #fff;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-page .header .logo {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}
.landing-page .header .logo span {
  color: var(--main-color);
}
.landing-page .header .links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 20px;
  font-size: 16px;
}
.landing-page .header .links li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: var(--main-transition);
}
.landing-page .header .links li a:hover,
.landing-page .header .links li a.active {
  color: var(--main-color);
}
.landing-page .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
}
.landing-page .intro-text h1 {
  font-size: 40px;
  font-weight: bold;
}
.landing-page .intro-text h1 span {
  color: var(--main-color);
}
.landing-page .intro-text p {
  line-height: 1.8;
  font-size: 20px;
}
/* End landing Page */
/* start about-us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .info-box {
  flex: 1;
  padding: 0 20px;
}
.about-us .info-box h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #777;
  margin: 0;
}
.about-us .img-box {
  flex: 1;
  text-align: center;
}
.about-us .img-box img {
  width: 250px;
}
/* end about-us */
/* start our skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  display: flex;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.skills .skill-box .skill-name {
  width: 140px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}
.skills .skill-box .skill-prosses {
  background-color: #eee;
  width: calc(100% - 110px);
  height: 30px;
}
.skills .skill-box .skill-prosses span {
  width: 0;
  height: 100%;
  display: block;
  background-color: var(--main-color);
  border-radius: 6px;
  transition: 1s;
}
/* end our skills */
/* start our gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .img-box {
  text-align: center;
}
.gallery .img-box img {
  width: 300px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.pupupOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.popupImgDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}
.popupImgDiv img {
  max-width: 100%;
}
.popupImgDiv h3 {
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
}
.popupImgDiv span {
  position: absolute;
  right: -15px;
  top: -15px;
  color: #fff;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
/* end our gallery */
/* start timeline */
.timeLine {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeLine .timeLine-content {
  position: relative;
  overflow: hidden;
}
.timeLine .timeLine-content:before {
  content: "";
  height: 100%;
  width: 2px;
  border-left: 2px solid var(--main-color);
  color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeLine .timeLine-content .year {
  margin: 20px auto;
  width: 50px;
  position: relative;
  background-color: var(--main-color);
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  z-index: 2;
  font-weight: bold;
}
.timeLine .timeLine-content .left,
.timeLine .timeLine-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  border-radius: 4px;
}
.timeLine .timeLine-content .left {
  float: left;
}
.timeLine .timeLine-content .left::before {
  right: -35px;
}
.timeLine .timeLine-content .right::before {
  left: -35px;
}
.timeLine .timeLine-content .left::before,
.timeLine .timeLine-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  border: 3px solid var(--main-color);
  top: 20px;
  border-radius: 50%;
}
.timeLine .timeLine-content .right {
  float: right;
}
.timeLine .timeLine-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeLine .timeLine-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
}
.timeLine .timeLine-content .content p {
  color: #666;
  line-height: 1.8;
}
.clearfix {
  clear: both;
}
.timeLine .timeLine-content .left .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: -20px;
  top: 20px;
  height: 0;
  width: 0;
}
.timeLine .timeLine-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -20px;
  top: 20px;
  height: 0;
  width: 0;
}
/* end timeline */
/* start our features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.features .contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.features .featuer-box {
  width: calc((100% / 3) - 80px);
  text-align: center;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 6px;
}
.features .featuer-box img {
  width: 100px;
}
.features .featuer-box h4 {
  font-weight: bold;
  position: relative;
}
.features .featuer-box h4::before {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  background-color: var(--main-color);
  left: 50%;
  margin-left: -20px;
  bottom: -15px;
}
.features .featuer-box p {
  color: #777;
  line-height: 1.8;
  margin-top: 50px;
}
/* end our features */
/* start testimonials */
.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.testimonials::before {
  content: "";
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}
.testimonials::after {
  content: "";
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #666;
}
.testimonials .contener {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.testimonials h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 50px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 3;
}
.testimonials .test-box {
  width: calc((100% / 3) - 60px);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.testimonials .test-box > p {
  color: #777;
  line-height: 1.8;
  font-style: italic;
}
.testimonials .test-box .coment {
  display: flex;
  gap: 10px;
  align-items: center;
}
.testimonials .test-box .coment img {
  border-radius: 50%;
}
.testimonials .test-box .coment .text h4 {
  margin: 0 0 10px;
  font-weight: bold;
  color: var(--main-color);
}
.testimonials .test-box .coment .text p {
  margin: 0;
  color: #777;
  font-style: italic;
  font-size: 11px;
}
/* end testimonials */
